:root {
  --navbar-box-shadow: inset -12px 0 20px var(--background-color);
  --sidebar-width: 320px;
  --navbar-height: 40px;
  --edge-padding: 16px;
}

/* Element selectors */
a {
  color: var(--secondary);
  text-decoration: none;
}

h1 {
  font-size: 2.6em;
}

/* Navbar */
.Navbar {
  width: calc(100% - var(--sidebar-width) - (var(--edge-padding) * 2));
  height: var(--navbar-height);
  background: inherit;
  position: fixed;
  border-bottom: 1px solid var(--hidden);
  margin-left: var(--sidebar-width);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  padding-right: var(--edge-padding);
  padding-left: var(--edge-padding);
} 

.Navbar ul {
  display: flex;
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.Navbar li {
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  padding: 0px 10px 0px 10px;
}
  
/* Sidebar */
.Sidebar {
  width: 320px;
  height: auto;
  background-color: inherit;
  height: 100%;
  position: fixed;
  overflow-y: auto;
  border-right: 1px solid var(--hidden);
}

.Sidebar .Brand {
  padding: 18px 16px;
  color: inherit;
  display: flex;
  flex-direction: column;
  font-weight: bold;  
}

.Sidebar .Brand .Title {
  font-size: 1.5em;
  filter: brightness(90%);
}

.Sidebar .Brand .Subtitle {
  padding: 2px;
  font-size: 1em;
}

.Sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Sidebar li a {
  padding: 18px 16px;
  display: block;
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid transparent;
}

.Sidebar li a:hover {
  background-color: var(--background-color);
  color: inherit;
  filter: brightness(90%);
}

.Sidebar .Active {
  filter: brightness(85%);
  background-color: var(--background-color);
  color: var(--primary);
}

/* Content */
.Content {
  margin: 0;
  padding: 16px 18px;
  margin-left: calc(var(--sidebar-width));
}

/* Text styles */
.Title {
  font-size: 2em;
}