@import "../../../styles/variables.module.scss";

.Navbar {
  width: calc(100% - $sidebar-width - ($edge-padding * 2));
  height: $navbar-height;
  background: inherit;
  position: fixed;
  border-bottom: 1px solid $hidden;
  margin-left: $sidebar-width;
  display: flex;
  align-items: center;
  align-content: center;
  padding-right: $edge-padding;
  padding-left: $edge-padding;
}

ul {
  display: flex;
  margin: 0;
  list-style-type: none;
  padding: 0;
  width: 100%;
  justify-content: flex-end;
}

li {
  display: flex;
  align-items: center;
  align-content: center;
  margin-left: 10px;

  a {
    padding: 8px;
    border: 1px solid $hidden;
    border-radius: 10px;
    color: $text-color;
    display: flex;
    align-items: center;
    align-content: center;
    cursor: pointer;
  }
}

.Brand {
  display: flex;
  font-size: 1.5em;
  width: 100%;
}