@import "styles/colors.scss";
@import "styles/text-sizes.scss";

/* Variables */
$button-padding: 0.4em;
$current-background: transparent !global;

/* Mixins */
@mixin computeColor($new-background) {

  // Current background.
  @if $new-background !=$primary {
    $current-background: $new-background !global;
  }

  @else {
    $current-background: darken($new-background, 10%) !global;
  }

  &:focus {
    outline: none;
  }

  &.Outline {
    background: transparent;
    color: $current-background;
    border-color: $current-background;

    &:hover {
      background: darken($background-color, 2%);
      color: darken($current-background, 15%);
      border-color: darken($current-background, 15%);
    }
  }

  &.Filled {
    // Computing color.
    $color: $text-color;

    @if $color==$current-background {
      $color: darken($color, 70%);
    }

    background: $current-background;
    color: $color;
    border-color: $color;

    &:hover {
      background: darken($current-background, 10%);
      color: darken($color, 10%);
      border-color: darken($color, 10%);
    }
  }
}

/* Button: Parent styles */
.Button {
  background-color: inherit;
  color: $text-color;
  border: 1px solid $text-color;
  border-radius: 0.3em;
  padding: $button-padding;
  font-family: 'Consolas';
  text-transform: capitalize;
  font-size: 1em;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

/* Children container */
.ChildrenContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

/* Colors */
.PrimaryColor {
  @include computeColor($primary);
}

.SecondaryColor {
  @include computeColor($secondary);
}

.WarningColor {
  @include computeColor($warning);
}

.DefaultColor {
  @include computeColor($text-color);
}

/* Sizes */
.LargeSize {
  font-size: $text-size-lg;
  padding: $button-padding * 2;
}

.MediumSize {
  font-size: $text-size-md;
  padding: $button-padding * 1.5;
}

.SmallSize {
  font-size: $text-size-sm;
}

/* Stuff */
.Filled {
  background: $current-background;
}

.Outline {
  background: transparent;
}

/* Shapes */
.CircleButton {
  border-radius: 50%;
  // Margin 0 avoid a deformed circle eleement.
  margin: 0 !important;

  * {
    margin: 0px !important;
  }
}