@import '../../styles/variables.module.scss';

/* Variables */
$button-padding: 5px;

/* Mixins */
@mixin computeColor($background) {
  color: white;
  border-color: darken($background, 25%);
  @if $background != $primary {
    background: $background
  } @else {
    background: darken($background, 10%);
  }
}

/* Button: Parent styles */
.Button {
  background-color: inherit;
  color: white;
  border: 2px solid white;
  padding: $button-padding;
  font-family: 'Consolas';
  text-transform: capitalize;
  font-size: 1em;
  display: flex;
  justify-content: center;
}

/* Children container */
.ChildrenContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}

/* Colors */

.PrimaryColor {
  @include computeColor($primary);
}

.SecondaryColor {
  @include computeColor($secondary);
}

.WarningColor {
  @include computeColor($warning);
}

/* Sizes */
.LargeSize {
  font-size: $text-size-lg;
  padding: $button-padding * 2;
}

.MediumSize {
  font-size: $text-size-md;
  padding: $button-padding * 1.5;
}

.SmallSize {
  font-size: $text-size-sm;
}

/* Shapes */

.CircleButton {
  border-radius: 50%;
  // Margin 0 avoid a deformed circle eleement.
  margin: 0 !important; 
  * {
    margin: 0px !important;
  }
}

.CircleButtonSmall {
  width: 30px;
  height: 30px;
}

.CircleButtonMedium {
  color: red;
}

.CircleButtonLarge {
  color: red;
}

.SquareButton {
  color: red;
}

