
@import "../../styles/variables.module.scss";

/* Element selectors */
a {
  color: $secondary;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  filter: brightness(80%);
}

h1 {
  font-size: 2.6em;
}

/* Navbar */
.Navbar {
  width: calc(100% - #{$sidebar-width} - (#{$edge-padding} * 2));
  height: $navbar-height;
  background: inherit;
  position: fixed;
  border-bottom: 1px solid $hidden;
  margin-left: $sidebar-width;
  display: flex;
  align-items: center;
  align-content: center;
  padding-right: $edge-padding;
  padding-left: $edge-padding;
} 

.Navbar ul {
  display: flex;
  margin: 0;
  list-style-type: none;
  padding: 0;
  width: 100%;
  justify-content: flex-end;
}

.Navbar li {
  display: flex;
  align-items: center;
  align-content: center;
  margin-left: 10px;
}

.Navbar li a {
  padding: 8px;
  border: 1px solid $hidden;
  border-radius: 10px;
  color: $text-color;
  display: flex;
  align-items: center;
  align-content: center;
  cursor: pointer;
}

.Navbar .Brand {
  display: flex;
  font-size: 1.5em;
  width: 100%;
}
  
/* Sidebar */
.Sidebar {
  width: $sidebar-width;
  height: auto;
  background-color: inherit;
  height: 100%;
  position: fixed;
  overflow-y: auto;
  border-right: 1px solid $hidden;
}

.Sidebar .Brand {
  padding: 18px 16px;
  color: inherit;
  display: flex;
  flex-direction: column;
  font-weight: bold;  
}

.Sidebar .Brand .Title {
  font-size: 1.5em;
  filter: brightness(90%);
}

.Sidebar .Brand .Subtitle {
  padding: 2px;
  font-size: 1em;
}

.Sidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Sidebar li a {
  padding: 18px 16px;
  display: block;
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid transparent;
}

.Sidebar li a:hover, .Navbar li a:hover {
  background-color: $background-color;
  color: inherit;
  filter: brightness(90%);
}

.Sidebar .Active, .Navbar .Active {
  filter: brightness(85%);
  background-color: $background-color;
  color: $primary;
}

/* Content */
.Content {
  margin: 0;
  padding: 16px 18px;
  padding-top: $navbar-height;
  margin-left: calc($sidebar-width);
}

/* Text styles */
.Title {
  font-size: 2em;
}