@import "../../../styles/colors.module.scss";

$content-box-shadow: 0px -10px 20px -20px #02191f inset;

.Publication {
  border: 1px solid $hidden;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 10px;  
  
  .Content {
    overflow: hidden;
    height: auto;
    margin-bottom: 1em;
  }

  .Actions {
    text-align: end;
  }
}

.Header {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;

  .Title {
    font-size: 1.3em;
    font-weight: bold;
  }

  .PublicationDate {
    font-size: 1em;
    filter: brightness(85%);
  }
}