@import "../../../styles/layout-metrics.scss";
@import "../../../styles/colors.module.scss";


// Sidebar.
.Sidebar {
  width: $sidebar-width;
  height: auto;
  background-color: inherit;
  height: 100%;
  position: fixed;
  overflow-y: auto;
  border-right: 1px solid $hidden;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li a {
    padding: 18px 16px;
    display: block;
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid transparent;

    &:hover {
      background-color: $background-color;
      color: inherit;
      filter: brightness(90%);
    }
  }

}

// Brand
.Brand {
  padding: 18px 16px;
  color: inherit;
  display: flex;
  flex-direction: column;
  font-weight: bold;

  .Title {
    font-size: 1.5em;
    filter: brightness(90%);
  }

  .Subtitle {
    padding: 2px;
    font-size: 1em;
  }
}

.Active {
  filter: brightness(85%);
  background-color: $background-color;
  color: $primary !important;
}