@import "~rfs/scss";
@import "../../styles/text-sizes.scss";
@import "../../styles/colors.module.scss";
@import "../../styles/form-styles.scss";

@mixin computeColor($color){
  color: $color;
  border-color: $color;

  &.Disabled {
    $disabled-color: darken($color, 35%);
    color: $disabled-color;
    border-color: $disabled-color;
  }
}

.Container {
  display: inline-flex;
  flex-direction: column;
  width: auto;

  * {
    margin-bottom: 0.2rem;
  }

  &.Block {
    display: flex;
  }
}

.TextField {
  @include rfs($font-size-regular);
  color: inherit;
  background: inherit;
  outline: none;
  font-family: inherit;
  border: 1px solid white;
  padding: 5px;
  border-radius: $border-radius;


  &:focus {
    outline: none;
  }
}

.MultiLine {
  overflow: auto;
}

.DefaultColor {
  @include computeColor($text-color);
}

.PrimaryColor {
  @include computeColor($primary);
}

.SecondaryColor {
  @include computeColor($secondary);
}

.WarningColor {
  @include computeColor($warning);
}

.HiddenColor {
  @include computeColor($hidden);
}